body{
    overflow-x: hidden;
}
.box{
    width: 100%;
	overflow: hidden;
}
main{
    width: 1440px;
    margin: 0 auto;
}
header{
    width: 1520px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
header form{
    width: 300px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 60px;
    background-color: #fff;
    margin-left: 50px;
	overflow: hidden;
}
header form input:nth-of-type(1){
    width: 216px;
    height: 40px;
    padding-left: 24px;
    border: none;
    float: left;
}
input::-webkit-input-placeholder{
    font-size: 14px;
}
header form span{
    width: 58px;
    height: 40px;
    border: none;
    padding-left: 20px;
    line-height: 40px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
header .logo{
    margin-left: -220px;
}
header .logo img{
    width: 120px;
    height: 40px;
}
header .logo img{
    width: 120px;
    height: 40px;
}
header ul{
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}
header ul li a{
    display: block;
    width: 23px;
    height: 23px;
}
form .iconfont{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
header ul .iconfont{
    font-size: 26px;
    color: #000;
}

    
nav{
    width: 1440px;
    height: 46px;
    line-height: 24px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    color: #000;
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;   
}
nav ul li.active{
    border-bottom: 2px solid #000;
    font-weight: 700;
}

/* 内容 */
.con{
    width: 100%;
	padding-top: 30px;
}
.con main{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.con-l{
	box-sizing: border-box;
	overflow: hidden;
	width: 884px;
}
.con-l ul li{
	width: 422px;
	box-sizing: border-box;
	padding-top: 16px;
	float: left;
}
.con-l ul>a img{
	width: 864px;
	height: 576px;
}
.con-l ul li img{
	width: 422px;
}
.con-l ul li:nth-of-type(even) img{
	padding-left: 22px;
}

/* 右边 */
.con-r{
	width: 490px;
	height: 1000px;
	/* background-color: cadetblue; */
}
.con .one{
	padding: 6px 0 24px 0;
	border-bottom: 1px solid #e7e7e7;
}
.one p{
	color: #757575;
	font-size: 14px;
}
.one h2{
	font-size: 36px;
	font-weight: 400;
	color: #000;
	padding: 4px 0 6px 0;
}
.one p:nth-child(3){
	padding: 10px 0;
}
.one span{
	margin: 7px 0 10px 0;
	color: 000;
}
.two{
	text-align: center;
}
.two p:nth-child(1){
	font-weight: bold;
	font-size: 18px;
	color: #000;
	padding: 18px 0;
}
.two a:nth-child(2){
	float: left;
	display: block;
	width: 420px;
	height: 60px;
	background-color: #000;
	border-radius: 60px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 15px;
}
.two i{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #000;
	display: block;
	float: left;
	font-size: 24px;
	line-height: 60px;
	margin-left: 8px;
}
.two p:nth-child(4){
	font-size: 15px;
	color: #757575;
	padding:74px 0 18px 0;
}
.two a:nth-child(5){
	font-size: 22px;
	color: #000;
	font-weight: 700;
}
.two p:nth-child(5):hover{
	cursor: pointer;
}
.three{
	margin: 28px 0 0;
	padding: 20px 28px;
	border: 1px solid #cecece;
	border-radius: 5px;
}
.three ul li i{
	font-size: 20px;
}
.three ul li a{
	font-size: 15px;
	text-decoration: underline;
	color: #000;
}
.three ul li:nth-child(1)~li{
	margin-top: 17px;
}
.four{
	padding: 5px 24px;
	margin-top: 20px;
	background-color: #f6f6f6;
	border-radius: 6px;
}
.four ol>li{
	width: 100%;
	padding: 13px 0;
	border-bottom: 1px solid #e6e6e6;
}
.four ol>li:nth-child(3){
	border-bottom: none;
}
.four ol li h3{
	float: left;
	font-size: 15px;
}
.four ol li h3:hover{
	cursor: pointer;
}
.four ol li span{
	float: right;
}
.four ol li:nth-of-type(3) .wz ul li{
	text-decoration: underline;
}
.four ol li:nth-of-type(3) .wz ul li:hover{
	font-weight: 700;
	cursor: pointer;
}
.four .wz{
	padding-top: 30px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.four .wz ul{
	padding: 20px;
}
.four .wz ul li{
	list-style-type: disc;
}
.four .wz{
	display: none;
}
.four .active{
	display: block;
}

/* 造型搭配 */
.da{
	width: 100%;
	background-color: #fff;
	margin-top: 40px;
}
.da>h2{
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
}
.da>img{
	width: 680px;
	float: left;
	padding: 0 20px;
}
.da ul li{
    position: relative;
	float: left;
	padding: 0 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.da ul li img{
    width: 320px;
}
.da ul .h2{
	padding-top: 16px;
	padding-bottom: 6px;
	font-size: 15px;
}
.da ul .h3{
    font-size: 15px;
    padding: 4px 0;
    font-weight: 400;
    margin-bottom: 12px;
	line-height: 24px;
}
.da ul .b{
    font-size: 12px;
    color: #000;
}
.da ul li i{
    float: right;
    width: 50px;
    height: 50px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: -10px;
    font-size: 22px;
    color: #000;
}
.da ul li i.icon-aixin{
    position: absolute;
    right: 36px;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: none;
}

/* 更多推荐 */
.more{
	width: 100%;
	margin-top: 40px;
	border-top: 1px solid #e5e5e5;
}
.more>h2{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 32px;
	font-size: 26px;
	font-weight: 400;
}
.more ul{
	display: flex;
	justify-content: space-between;
}
.more ul li{
    position: relative;
	box-sizing: border-box;
}
.more ul li img{
    width: 328px;
}
.more ul .h2{
	padding-top: 16px;
	padding-bottom: 6px;
	font-size: 15px;
}
.more ul .h3{
    font-size: 15px;
    padding: 4px 0;
    font-weight: 400;
    margin-bottom: 12px;
	line-height: 24px;
}
.more ul li i{
    float: right;
    width: 50px;
    height: 50px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 16px;
    font-size: 22px;
    color: #000;
}
.more ul li i.icon-aixin{
    position: absolute;
    right: 16px;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: none;
}



/* 底部搜索 */
.fo_btn{
	margin-top: 40px;
	height: 316px;
	background-image:url(../images/long.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}
.fo_btn h2{
	font-size: 32px;
	font-weight: 400;
	padding-top: 100px;
	padding-bottom: 20px;
}
.fo_btn form{
	width: 325px;
	height: 60px;
	border-radius: 40px;
	border: 1px solid #000;
	overflow: hidden;
	margin: 0 auto;
}
.fo_btn form input{
	width: 225px;
	height: 60px;
	float: left;
	border: none;
	padding-left: 30px;
}
.fo_btn form span{
	display: inline-block;
	width: 70px;
	height: 60px;
	border: none;
	line-height: 60px;
	color: #fff;
	background-color: #000;
	font-size: 20px;
	cursor: pointer;
}

/* 页脚 */
.enjoy{
	color: #fff;
	background-color: #000;
	text-align: center;
}
.enjoy h2{
	font-size: 32px;
	font-weight: 400;
	padding: 50px 0;
}
.enjoy ul{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}
.enjoy ul li{
	width: 266px;
	height: 146px;
}
.enjoy ul li p{
	font-size: 15px;
	line-height: 20px;
}
.enjoy ul li p:nth-child(2){
	font-weight: 700;
	padding-bottom: 10px;
}

/* 备案 */
.copy ul{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.copy ul>li{
	width: 475px;
	height: 350px;
	/* border: 1px solid #000; */
}
.copy form{
	width: 325px;
	height: 52px;
	border-radius: 40px;
	border: 1px solid #000;
	overflow: hidden;
	margin: 0 auto;
}
.copy form input{
	width: 225px;
	height: 52px;
	float: left;
	border: none;
	padding-left: 30px;
}
.copy form span{
	text-align: center;
	display: inline-block;
	width: 70px;
	height: 52px;
	border: none;
	line-height: 52px;
	color: #fff;
	background-color: #e1e1e1;
	font-size: 16px;
	cursor: pointer;
}
.copy ul li:nth-child(1){
	text-align: center;
}
.copy ul li:nth-child(1) h3{
	font-size: 15px;
	font-weight: 400;
	padding-top: 140px;
}
.copy ul li:nth-child(1) p{
	font-size: 12px;
	color: #757575;
	line-height: 40px;
}
.copy ul li:nth-child(2) ol{
	padding-top: 20px;
}
.copy ul li:nth-child(2) ol>li{
	text-align: center;
	color: #000;
	font-size: 15px;
	text-decoration: underline;
	line-height: 36px;
}
.copy ul li:nth-child(2) ol>li:hover{
	font-weight: 700;
}
.copy ul li dl{
	width: 240px;
	margin: 20px auto;
}
.copy ul li dl dt{
	float: left;
}
.copy ul li dl dd{
	color: #757575;
}
.copy ul li dl dd:hover{
	font-weight: 700;
}
.copy ul li:nth-child(3) h3{
	font-size: 15px;
	color: #000;
	font-weight: 400;
	text-align: center;
	padding-top: 60px;
}
.copy ul li:nth-child(3) ol{
	width: 144px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #e1e1e1;
}
.copy ul li:nth-child(3) ol li{
	width: 50px;
	height: 50px;
	border: 1px solid #757575;
	border-radius: 50%;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}
.copy ul li:nth-child(3) select{
	width: 325px;
	height: 50px;
	margin: 20px auto;
	display: block;
	border-radius: 25px;
	padding-left: 30px;
	/* appearance:none; */
}
.copy ul li:nth-child(3) ol li:hover{
    cursor: pointer;
}

/* 定位 */
#fixed{
	position: fixed;
	width: 50px;
	height: 50px;
	display: block;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	right: 10px;
	bottom: 4px;
	text-align: center;
	line-height: 50px;
	font-size: 32px;
	color: #757575;
	display: none;
}